body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0; /* gets rid of the white border around flex-container */
    background-color: #FEBEB0;
    display: flex;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    padding: 40px;
}

.option {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 50px;
}

.buttons #rockButton {
    height: 250px;
    width: 250px;
    background-image: url(./images/rock.jpeg);
    background-size: 250px;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 25px;
}

.buttons #paperButton {
    height: 250px;
    width: 250px;
    background-image: url(./images/paper.jpeg);
    background-size: 250px;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 25px;
}

.buttons #scissorButton {
    height: 250px;
    width: 250px;
    background-image: url(./images/scissor.jpeg);
    background-size: 250px;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 25px;
}

.scoreBoard {
    text-align: center;
    font-size: 2em; 
    background-color: #e69597;
    color: #1F2937;
    max-width: 100%;
    margin: 2em;
    padding: 1em;
}